.footer {
    flex-shrink: 0;
    text-align: center;
    background-color: #69A197;
    color: white;
    height: 50px;
  }
  
  footer.fixed-bottom {
    background-color: #69A197;
    height: 5vh;
}